//
// Custom Global Variables
// =============================================================================


//
// Base
// ----

// Transition duration
$transition-duration: 150ms;

// Breakpoints
$breakpoints: (
  'small': 414px,
  'med': 640px
);

//
// Typography
// ----------

$font-family:               "ff-tisa-web-pro", "Helvetica", "Arial", sans-serif;
$font-family-headings:      "freight-sans-compressed-pro", "Helvetica", "Arial", sans-serif;
$font-family-headings-alt:  "freight-sans-pro", "Helvetica", "Arial", sans-serif;
// $font-family-print:    "Georgia", "Times New Roman", "Times", serif;
// $font-family-mono:     "Consolas", monospace;
$font-base-size:            1.125em;
$font-base-size-plus:       1.250em;


//
// Heading sizes
// ----------

$h1-size: 3.998em;
$h2-size: 2.827em;
$h3-size: 1.999em;
$h4-size: 1.414em;
$h5-size: 1em;
$h6-size: 0.707em;
// $giga-size: 80;
// $mega-size: 64;
// $kilo-size: 52;


//
// Color Palette
// -------------

@function getColor($color, $value: "base") {
  @return map-get(map-get($colors, $color), $value);
}

$colors: (
  base: (
    'primary': #FFFFFF,
    'alt': #EEEEEE
  ),
  text: (
    'primary': rgba(0,0,0,0.7),
    'secondary': rgba(0,0,0,0.6)
  ),
  blue: (
    'base': #3D84A8
  )
);
