//
// Custom Global Variables
// =============================================================================


//
// Base
// ----

// Transition duration
$transition-duration: 150ms;

// Breakpoints
$breakpoints: (
  'small': 414px,
  'med': 640px,
  'large': 760px,
  'xlarge': 960px
);

//
// Typography
// ----------

$font-family-text:               "adelle", "Helvetica", "Arial", sans-serif;
$font-family-headings:      "proxima-nova", "Helvetica", "Arial", sans-serif;
// $font-family-print:    "Georgia", "Times New Roman", "Times", serif;
// $font-family-mono:     "Consolas", monospace;
$font-base-size:            1.125em;
$font-base-size-plus:       1.250em;


//
// Heading sizes
// ----------

$h1-size: 2.441em;
$h2-size: 1.953em;
$h3-size: 1.563em;
$h4-size: 1.25em;
$h5-size: 1em;
$h6-size: 0.8em;
$font-size-small: $h6-size;
// $giga-size: 80;
// $mega-size: 64;
// $kilo-size: 52;


//
// Color Palette
// -------------

@function getColor($color, $value: "base") {
  @return map-get(map-get($colors, $color), $value);
}

$colors: (
  base: (
    'primary': #FFFFFF,
    'alt': #EEEEEE,
    'dark': #393E46
  ),
  text: (
    'ui': #FFFFFF,
    'content': rgba(0,0,0,0.8),
    'headings': rgba(0,0,0,0.9),
    'subtle': rgba(0,0,0,0.6),
    'primary': rgba(0,0,0,0.7),
    'secondary': rgba(0,0,0,0.6)
  ),
  blue: (
    'base': #3D84A8
  ),
  platform: (
    'dribbble': #ea4c89,
    'facebook': #3b5998,
    'twitter': #55acee,
    'linkedin': #0077b5,
    'pinterest': #bd081c,
    'google-plus': #dc4e41,
    'github': #4183c4,
    'medium': #00ab6b
  ),
  projects: (
    'tango-out': #2AC0F1,
    'tango-video': #FE6443,
    'recurly-app': #723080
  )
);
