@import "concise_shim";
@import "variables";


// Atoms
@import "atoms/root";
@import "atoms/figures";
@import "atoms/headings";

// Molecules
// @import "molecules/case_study_header";
@import "molecules/case_study_content";

.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.case-study {
  @include clearfix();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    background-size: cover;
  }

  &__title {
    color: white;
    font-family: $font-family-headings;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20vw;
  }

  &__leader {
    color: white;
    font-size: 26px;
    text-align: center;
    margin: 0 20vw;
  }
}


.navigation {
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  margin: 0;
}

.navigation-item {
  flex-basis: 100px;
  text-align: center;

  & a {
    color: black;
    display: block;
    text-decoration: none;
    line-height: 62px;
    padding: 0 1rem;
    border-bottom: 2px solid white;

    &:hover {
      border-bottom: 2px solid cyan;
    }
  }
}
