@import "concise_shim";
@import "variables";


// Atoms
@import "atoms/root";
@import "atoms/figures";
@import "atoms/headings";

// Molecules
@import "molecules/case_study_header";
@import "molecules/case_study_content";


.article-section {
  padding-top: 9rem;
}

.article-figure {
  display: block;
  margin-left: 0;
  margin-right: 0;

  &--focused {
    margin: 9rem 0 0 0;
  }
}
