// Case Study Header
.case-study {
  @include clearfix();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__masthead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: flex-start;
    height: 100vh;
    width: 100vw;
    padding-top: 26vh;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  &__title {
    color: rgba(0,0,0,0.8);
    font-family: $font-family-headings;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20vw;
  }

  &__leader {
    color: rgba(0,0,0,0.8);
    font-size: 22px;
    text-align: center;
    margin: 0 20vw;
  }
}
