// Case Study Header
.case-study {

  &__header {
    background-color: #232E41;
    height: 660px;
    position: relative;
  }

  &__container {
    @include clearfix();
  }

  &__title {
    color: white;
    font-family: $font-family-headings;
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  &__leader {
    color: white;
    font-size: 26px;
    text-align: center;
  }

  &__section_content {
    &--fullspan {
      padding: 0 !important;
    }
  }
}
