footer {
  background-color: getColor(base, primary);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  font-family: typeset(family,headings);

  @include mappy-bp(med) {
    flex-direction: column;
    flex-direction: row;
  }

  & p {
    text-align: center;
    color: getColor(base,dark);
    font-size: typeset(ui,small);

    @include mappy-bp(med) {
      text-align: left;
      padding: 0 0 0 1rem;
    }
  }

  & a {
    display: inline;
    color: getColor(base, dark);
    text-decoration: underline;
    text-align: center;

    @include mappy-bp(med) {
      text-align: left;
    }
  }

  section {
    padding: 2rem 0;
    width: 100%;
  }
}

.footer__link-list {
  list-style: none;
  margin: 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @include mappy-bp(med) {
    justify-content: flex-end;
    margin: 0 1rem 0 0;
  }

  a {
    display: block;
    padding: 0 0.5rem;
  }
}

.footer__list-item {
  display: block;

  svg {
    display: block;
    width: 24px;
  }

  .icon-github,
  .icon-linkedin,
  .icon-dribbble,
  .icon-twitter,
  .icon-medium {
    fill: getColor(base,dark);
  }
}
