footer {
  background-color: getColor(base, dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  font-family: $font-family-headings;

  @include mappy-bp(med) {
    flex-direction: row;
  }

  & a {
    padding: 0 1rem;
    display: block;
    color: getColor(base, primary);
    line-height: 62px;
    text-decoration: none;
    text-align: center;

    @include mappy-bp(med) {
      text-align: left;
    }
  }

  section {
    padding: 2rem 0;
    width: 100%;
  }
}

.footer__link-list {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include mappy-bp(med) {
    flex-direction: row;
    margin: 0 0 0 1rem;
  }
}

.footer__list-item {
  display: block;
  width: 100%;
}

.footer__byline {
  margin: 0 2rem 0 0;
}
