.page {
  &__section {
    @include clearfix();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 4rem 0;

    @include mappy-bp(med) {
      padding: 7rem 0;
    }
  }

  &__content {
    @include clearfix();
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-family-headings-alt;
      font-size: $h5-size;
      letter-spacing: 0.18rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    & h2 {
      font-family: $font-family-headings-alt;
      font-size: $h3-size;
      // line-height: 1.1em;
      margin-top: 0;
      // margin-bottom: 1.5rem;
      color: getColor(text, secondary);

      @include mappy-bp(med) {
        font-size: $h2-size;
      }
    }

    & h3 {
      font-size: $h4-size;
      color: getColor(text, primary);

      @include mappy-bp(med) {
        font-size: $h3-size;
      }
    }

    & h4 {
      font-family: $font-family-headings-alt;
      font-size: $h4-size;
      // margin-bottom: 0;
    }

    & > p,
    & > ul,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5 {

      max-width: none;
      margin-right: 20px;
      margin-left: 20px;

      @include mappy-bp(med) {
        margin-left: 80px;
        margin-right: 80px;
      }

      @include mappy-bp(large) {
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
      }

      @include mappy-bp(xlarge) {
        max-width: 45vw;
      }
    }


    &--image {
      padding: 0;
      width: 100%;

      & image {
        width: 100%;
      }
    }

    &--span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: none;
      margin: auto;
    }
  }
}

.page__section--two-up {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include mappy-bp(med) {
    flex-direction: row;
    // padding: 0 15% 7rem;
  }

  .page__content {
    & > p,
    & > ul,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5 {

      max-width: none;
      margin-right: 20px;
      margin-left: 20px;

      // @include mappy-bp(med) {
      //   margin-left: 80px;
      //   margin-right: 80px;
      // }
      //
      // @include mappy-bp(large) {
      //   max-width: 60vw;
      //   margin-left: auto;
      //   margin-right: auto;
      // }
      //
      // @include mappy-bp(xlarge) {
      //   max-width: 45vw;
      // }
    }
  }

  // .page__content {
  //   width: auto;
  //   padding-left: 10rem;
  //
  //   @include mappy-bp(max small) {
  //     width: 50%;
  //
  //     &:first-child {
  //       padding-left: 0;
  //     }
  //   }
  // }
}

// .page__section--reverse {
//   flex-direction: column;
//
//   @include mappy-bp(max small) {
//     flex-direction: row-reverse;
//
//     .page__content {
//       &:first-child {
//         padding-left: 5rem;
//       }
//     }
//   }
//
// }


.media--fluid {
  width: 100%;
}

em.leader {
  display: block;
  font-size: $h4-size;
  font-style: normal;

  max-width: none;
  margin-right: 20px;
  margin-left: 20px;

  @include mappy-bp(med) {
    margin-left: 80px;
    margin-right: 80px;
  }

  @include mappy-bp(large) {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  @include mappy-bp(xlarge) {
    max-width: 45vw;
  }
}
