.page {
  &__section {
    @include clearfix();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 4rem 0;

    @include mappy-bp(med) {
      padding: 7rem 0;
    }
  }

  &__content {
    @include clearfix();
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-family-headings;
      font-size: $h5-size;
      letter-spacing: 0.18rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    & h2 {
      font-family: $font-family-headings;
      font-size: $h3-size;
      margin-top: 0;

      @include mappy-bp(med) {
        font-size: $h2-size;
      }
    }

    & h3 {
      font-size: $h4-size;

      @include mappy-bp(med) {
        font-size: $h3-size;
      }
    }

    & h4 {
      font-family: $font-family-headings;
      font-size: $h4-size;
    }

    & > p,
    & > ul,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5 {

      max-width: none;
      margin-right: 2rem;
      margin-left: 2rem;

      @include mappy-bp(med) {
        margin-left: 80px;
        margin-right: 80px;
      }

      @include mappy-bp(large) {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
      }

      @include mappy-bp(xlarge) {
        max-width: 50vw;
      }
    }


    &--image {
      padding: 0;
      width: 100%;

      & image {
        width: 100%;
      }
    }

    &--span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: none;
      margin: auto;
    }
  }
}

.page__section--two-up {
  flex-direction: column-reverse;;
  justify-content: flex-start;
  align-items: stretch;

  @include mappy-bp(med) {
    flex-direction: row;
  }

  .page__content {
    width: 100%;

    .button {
      width: 100%;
    }

    @include mappy-bp(med) {
      width: 50%;

      .button {
        width: auto;
      }
    }

    & > p,
    & > ul,
    & > h1,
    & > h2,
    & > h3,
    & > h4 {
      max-width: none;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}



.media--fluid {
  width: 100%;
}

em.leader {
  display: block;
  font-size: $h4-size;
  font-style: normal;

  max-width: none;
  margin-right: 2rem;
  margin-left: 2rem;

  @include mappy-bp(med) {
    margin-left: 80px;
    margin-right: 80px;
  }

  @include mappy-bp(large) {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  @include mappy-bp(xlarge) {
    max-width: 50vw;
  }
}
