.page {
  &__section {
    @include clearfix();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 7rem 0;
  }

  &__content {
    @include clearfix();
    // max-width: 45vw;
    // margin: 0 22.5vw;
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-family-headings-alt;
      font-size: $h5-size;
      letter-spacing: 0.18rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    & h2 {
      font-family: $font-family-headings;
      font-size: $h2-size;
      // line-height: 1.1em;
      margin-top: 0;
      // margin-bottom: 1.5rem;
      color: getColor(text, secondary);
    }

    & h3 {
      font-size: $h3-size;
      color: getColor(text, primary);
    }

    & h4 {
      font-family: $font-family-headings-alt;
      font-size: $h4-size;
      // margin-bottom: 0;
    }

    & > p,
    & > ul,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5 {
      max-width: 45vw;
      margin-left: auto;
      margin-right: auto;
    }


    &--image {
      padding: 0;
      width: 100%;

      & image {
        width: 100%;
      }
    }

    &--span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: none;
      margin: auto;
    }
  }
}

.page__section--two-up {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 15% 7rem;

  .page__content {
    width: 50%;

    &:first-child {
      padding-left: 10rem;
    }
  }
}

.page__section--reverse {
  flex-direction: row-reverse;

  .page__content {
    &:first-child {
      padding-left: 5rem;
    }
  }
}


.media--fluid {
  width: 100%;
}

em.leader {
  display: block;
  font-size: $h4-size;
  max-width: 45vw;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
}
