.project {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  max-height: none;

  @include mappy-bp(med) {
    flex-direction: row;
    padding: 7rem 40px;
    max-height: 660px;
  }

  @include mappy-bp(large) {
    padding: 7rem 10vw;
  }

  @include mappy-bp(xlarge) {
    padding: 7rem 22vw;
  }

  .project__content {
    padding: 0 20px;
    width: 100%;

    @include mappy-bp(med) {
      width: 50%
    }
  }

  h3, p {
    text-align: center;

    @include mappy-bp(med) {
      text-align: left;
    }
  }

  &--dark {
    h3, p, a {
      color: getColor(base,primary);
    }
  }

  &--light {
    h3, p, a {
      color: getColor(base,dark);
    }
  }

}


.project--tango-out {
  // background-color: darken(getColor(projects,tango-out), 8%);
  background: url('../images/work/tango-out/masthead-tango-out.jpg') top center no-repeat;
  background-size: cover;

  a.button { color: getColor(projects,tango-out); }
}

.project--tango-video {
  // background-color: darken(getColor(projects,tango-video), 8%);
  background: url('../images/work/tango-video-calling/masthead-tango-video-calling.jpg') top center no-repeat;
  background-size: cover;

  a.button { color: getColor(projects,tango-video); }
}

.project--recurly-app {
  // background-color: darken(getColor(projects,recurly-app), 8%);
  background: url('../images/work/recurly-app/masthead-recurly-bg.jpg') top center no-repeat;
  background-size: cover;
  
  a.button { color: getColor(projects,recurly-app); }
}
