// Case Study Header
.page {
  @include clearfix();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__leader {
    color: rgba(0,0,0,0.8);
    font-size: $font-base-size;
    text-align: center;
    margin: 0 auto;
    width: 40vw;
  }
}
