.page {
  &__section {
    @include clearfix();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  &__content {
    @include clearfix();

    padding: 6rem 0;
    max-width: 45vw;
    margin: 0 22.5vw;
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-family-headings-alt;
      font-size: $h5-size;
      letter-spacing: 0.18rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    & h2 {
      font-family: $font-family-headings;
      font-size: $h2-size;
      // line-height: 1.1em;
      margin-top: 0;
      // margin-bottom: 1.5rem;
    }

    & h3 {
      font-size: $h3-size;
    }

    & h4 {
      font-family: $font-family-headings-alt;
      font-size: $h4-size;
      // margin-bottom: 0;
    }


    &--image {
      padding: 0;
      width: 100vw;

      & image {
        width: 100%;
      }
    }
  }
}

em.leader {
  font-size: $h3-size;
}
