blockquote {
  text-align: center;
  margin: 4rem auto;

  & p {
    color: #3D84A8;
    font-size: $h3-size;
    margin: 0;
    font-style: italic;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  & span {
    color: #48466D;
  }
}
