blockquote {
  text-align: center;
  margin: 4rem auto;

}

.blockquote__content {
  color: getColor(blue,base);
  margin: 0;
  font-style: italic;
  font-size: $h5-size;
  margin-right: 20px;
  margin-left: 20px;

  @include mappy-bp(max small) {
    font-size: $h4-size;
    margin-left: 16vw;
    margin-right: 16vw;
    margin-bottom: 1.5rem;
  }
}

.blockquote__byline {
  color: #48466D;
  font-size: $h5-size;

  @include mappy-bp(max small) {
    font-size: $h4-size;
  }
}
