.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  @include mappy-bp(max small) {
    flex-direction: row;
    padding: 0 10%;
  }
}

.card {
  border: 1px solid getColor(base, alt);
  margin: 0 20px 20px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  background-color: getColor(base, primary);

  @include mappy-bp(max small) {
    width: 46%;
    margin: 1%;
  }
}

.card-title {
  font-family: $font-family-headings-alt;
  font-size: $h5-size;
  color: getColor(blue, base);
}

.card-content {
  font-size: $h6-size;
  
  @include mappy-bp(max small) {
    font-size: $h5-size;
  }
}
