.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 10%;
}

.card {
  border: 1px solid getColor(base, alt);
  width: 46%;
  margin: 1%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  min-height: 150px;
  background-color: getColor(base, primary);
}

.card-title {
  font-family: $font-family-headings-alt;
  font-size: $h5-size;
  color: getColor(blue, base);
}

.card-content {
  font-size: $h5-size;
}
