.device-frame {
  display: block;
  transform-origin: top left;

  &--nexus5x {
    background: url(/images/assets/device_frame_nexus5x.png) transparent top left no-repeat;
    background-size: cover;

    width: 239px; // 1195px
    height: 491px; // 2455px

    // padding: 231px 62px 255px 53px;

    padding-top: 46px;
    padding-left: 11px;
  }
}

.device-viewport {
  display: block;
  background-color: red;

  &--nexus5x {
    width: 216px; // 1080px
    height: 384px; // 1920px

    width: 50px;
    height: 50px;
  }
}
