h1, h2, h3, h4 {
  font-family: $font-family-headings;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: getColor(text,headings);
}

h1 {
  font-size: $h1-size;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
}

h2 {
  font-size: $h2-size;
  font-weight: 500;
}

h3 {
  font-size: $h3-size;
  font-style: normal;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 0;
}

h4 {
  font-size: $h4-size;
}

p {
  line-height: 1.9;
  margin-bottom: 1.3em;
  // margin-top: 0;
}

small, .font_small {
  font-size: 0.707em;
}
