.icon-facebook {
  fill: getColor(platform,facebook);
}

.icon-linkedin {
  fill: getColor(platform,linkedin);
}

.icon-twitter {
  fill: getColor(platform,twitter);
}

.icon-google-plus {
  fill: getColor(platform,google-plus);
}

.icon-medium {
  fill: getColor(platform,medium);
}

.icon-github {
  fill: getColor(platform,github);
}

.icon-dribbble {
  fill: getColor(platform,dribbble);
}

.icon-pinterest {
  fill: getColor(platform,pinterest);
}
