.masthead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  height: 100vh;
  width: 100%;
  // padding-top: 26vh;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;

  &__title {
    color: getColor(text,headings);
    font-family: typeset(family,heading);
    font-weight: 400;
    font-size: typeset(heading,h3);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px;

    @include mappy-bp(med) {
      font-size: typeset(heading,h2);
      margin: 0 auto 0.2em auto;
      width: 50%;
    }

    @include fadeInUp(
      $count: 1,
      $duration: $transition-duration,
      $delay: 0.7s,
      $function: ease,
      $fill: both
    );
  }

  &__leader {
    color: getColor(text,secondary);
    font-size: typeset(ui,base);
    text-align: center;
    margin: 0 20px;

    @include mappy-bp(med) {
      margin: 0 auto;
      width: 50%;
    }

    @include fadeInUp(
      $count: 1,
      $duration: $transition-duration,
      $delay: 0.9s,
      $function: ease-out,
      $fill: both
    );
  }

  &--dark {
    .masthead__title,
    .masthead__leader {
      color: getColor(base,primary);
    }
  }

  &--light {
    .masthead__title,
    .masthead__leader {
      color: getColor(base,dark);
    }
  }

  &--full {
    padding-top: 26vh;
    height: 660px;
    justify-content: flex-start;
  }

  &--half {
    height: 50vh;
    justify-content: center;
  }

  &--third {
    height: 66vh;
    justify-content: center;
  }

  &--quarter {
    height: 25vh;
    justify-content: center;
  }

  br {
    display:inline;

    @include mappy-bp(med) {
      display: none;
    }
  }
}
