.masthead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  height: 100vh;
  width: 100%;
  // padding-top: 26vh;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  &__title {
    color: rgba(0,0,0,0.8);
    font-family: $font-family-headings;
    font-weight: 400;
    font-size: $h2-size;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px;

    @include mappy-bp(med) {
      font-size: $h1-size;
      margin: 0 auto 0.2em auto;
      width: 50%;
    }
  }

  &__leader {
    color: rgba(0,0,0,0.8);
    font-size: $font-base-size;
    text-align: center;
    margin: 0 20px;

    @include mappy-bp(med) {
      margin: 0 auto;
      width: 50%;
    }
  }

  &--full {
    padding-top: 26vh;
    height: 100vh;
    justify-content: flex-start;
  }

  &--half {
    height: 50vh;
    justify-content: center;
  }

  &--third {
    height: 66vh;
    justify-content: center;
  }

  &--quarter {
    height: 25vh;
    justify-content: center;
  }
}
