html { font-size: typeset(ui,base); }

body {
  // background-color: getColor(base,alt);
  background-color: #FBFBFB;
  font-family: typeset(family,body);
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.7);
}
