html { font-size: $font-base-size; }

body {
  // background-color: getColor(base,alt);
  background-color: #FBFBFB;
  font-family: $font-family-text;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.7);
}
