/* line 3, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-facebook {
  fill: #3b5998; }

/* line 7, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-linkedin {
  fill: #0077b5; }

/* line 11, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-twitter {
  fill: #55acee; }

/* line 15, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-google-plus {
  fill: #dc4e41; }

/* line 19, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-medium {
  fill: #00ab6b; }

/* line 23, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-github {
  fill: #4183c4; }

/* line 27, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-dribbble {
  fill: #ea4c89; }

/* line 31, /Users/adam/workbench/xyentific.com/code/source/stylesheets/svg.css.scss */
.icon-pinterest {
  fill: #bd081c; }
