nav.pagination
  ul
    li = link_to 'Previous Case Study', current_page.data.prev_page, class: 'pagination--prev'
    li = link_to 'Next Case Study', current_page.data.next_page, class: 'pagination--next'
