---
title: Hello, I'm Adam Kirkwood
leader_copy: A digital product designer that believes in a world where products are designed to improve the <em>human</em> experience
masthead_class: masthead--third
---

section.page__section
  .page__content
    == partial "shared/project_list_tile"
