---
title: My Work
leader_copy: I’ve worked on projects of all sizes &mdash; from Tango's iOS and Android mobile clients serving 330 million users, to features across Recurly's mission-critial web app processing millions of dollars every day.
masthead_class: masthead--third
active_tab: work
---

section.page__section
  .page__content
    == partial "shared/project_list_tile"
